@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Teko:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    /* --theme */
    --bg: rgba(40, 48, 54, 0.95);
    --bg-dialog: rgba(10, 20, 25, 0.95);
    --bg-item: rgba(55, 65, 72, 0.9);
    --text-primary: rgba(230, 230, 230, 1);
    --text-secondary: rgba(200, 200, 200, 0.8);
    /* Primary Colors */
    --color-primary: #4f95ff;
    --color-hover: rgba(55, 180, 220, 0.75);
    --color-secondary: #0b62b4;
    --color-dark: rgb(30, 50, 100);
    /* Deep Indigo */
    /* Accent Colors */
    --color-glow: #00E5FF;
    /* Cyan Glow */
    --color-magenta: #FF2D96;
    /* Magenta Pink */
    --color-deep-blue: #1A1D42;
    /* Midnight Blue */
    /* Linear Gradients */
    --gradient-1: linear-gradient(135deg, var(--color-dark) 0%, var(--color-primary) 100%);
    --gradient-2: linear-gradient(135deg, var(--color-primary) 0%, var(--color-secondary) 100%);
    --gradient-3: linear-gradient(135deg, #6A00F4 0%, var(--color-glow) 100%);
    --gradient-4: linear-gradient(135deg, var(--color-magenta) 0%, var(--color-secondary) 50%, var(--color-primary) 100%);
    --gradient-5: linear-gradient(135deg, var(--color-deep-blue) 0%, var(--color-secondary) 50%, var(--color-glow) 100%);
    /* -- */
    /* -- color icon */
    --color-iconOn: rgb(0, 175, 50);
    --color-iconOff: rgb(199, 0, 0);
    /* -- */
    /* -- color vehicle */
    --color-engine: rgb(175, 20, 0);
    --color-fuel: rgb(199, 162, 0);
    /* -- */
}

*,
::before,
::after {
    font-family: "Kanit", sans-serif;
    box-sizing: border-box
}

::before,
::after {
    text-decoration: inherit;
    vertical-align: inherit
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

html {
    cursor: default;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-tap-highlight-color: transparent;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    word-break: break-word
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #333333;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 750px;
    border-radius: 10px;
    gap: 10px;
    background-color: rgba(20, 20, 20, 0.95);
    transition: 0.2s all;
    .user {
        margin-top: 50px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    .username {
        font-size: 36px;
        font-weight: 500;
        color: var(--text-primary);
    }
    .description {
        text-align: center;
        font-size: 16px;
        color: var(--text-primary);
    }
    .social {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 50%;
        gap: 5px;
        h1 {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--text-primary);
        }
        a {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 40px;
            border-radius: 10px;
            background-color: #222222;
            color: var(--text-primary);
        }
    }
}

@media (max-width: 500px) {
    .card {
        transform: scale(0.8);
    }
}

@media (max-width: 300px) {
    .card {
        transform: scale(0.5);
    }
}

@media (max-height: 800px) {
    .card {
        transform: scale(0.8);
    }
}

@media (max-height: 600px) {
    .card {
        transform: scale(0.5);
    }
}